## assume we have hardcoded data wanted load to multiple file formats

In [2]:
emp_data = [
    (1, "John Doe", "Male", 60000.0, "USA"),
    (2, "Jane Smith", "Female", 55000.0, "Canada"),
    (3, "Alice Johnson", "Female", 65000.0, "UK"),
    (4, "Bob Williams", "Male", 62000.0, "Australia"),
    (5, "Eve Davis", "Female", 70000.0, "India"),
    (6, "Charlie Brown", "Male", 58000.0, "Germany"),
    (7, "Diana Miller", "Female", 60000.0, "France"),
    (8, "Frank Johnson", "Male", 62000.0, "Spain"),
    (9, "Grace Wilson", "Female", 54000.0, "Italy"),
    (10, "Henry Davis", "Male", 68000.0, "Japan"),
    (11, "Isabel Clark", "Female", 59000.0, "Brazil"),
    (12, "Jack Turner", "Male", 63000.0, "Mexico"),
    (13, "Katherine White", "Female", 67000.0, "South Africa"),
    (14, "Louis Harris", "Male", 56000.0, "Russia"),
    (15, "Mia Lee", "Female", 61000.0, "China")
]

emp_columns = ["empId", "empName", "empGender", "empSalary", "empCountry"]

df = spark.createDataFrame(emp_data,emp_columns)
df.show()
df.printSchema()
df.count()

+-----+---------------+---------+---------+------------+
|empId|        empName|empGender|empSalary|  empCountry|
+-----+---------------+---------+---------+------------+
|    1|       John Doe|     Male|  60000.0|         USA|
|    2|     Jane Smith|   Female|  55000.0|      Canada|
|    3|  Alice Johnson|   Female|  65000.0|          UK|
|    4|   Bob Williams|     Male|  62000.0|   Australia|
|    5|      Eve Davis|   Female|  70000.0|       India|
|    6|  Charlie Brown|     Male|  58000.0|     Germany|
|    7|   Diana Miller|   Female|  60000.0|      France|
|    8|  Frank Johnson|     Male|  62000.0|       Spain|
|    9|   Grace Wilson|   Female|  54000.0|       Italy|
|   10|    Henry Davis|     Male|  68000.0|       Japan|
|   11|   Isabel Clark|   Female|  59000.0|      Brazil|
|   12|    Jack Turner|     Male|  63000.0|      Mexico|
|   13|Katherine White|   Female|  67000.0|South Africa|
|   14|   Louis Harris|     Male|  56000.0|      Russia|
|   15|        Mia Lee|   Female|  61000.0|       China|
+-----+---------------+---------+---------+------------+

root
 |-- empId: long (nullable = true)
 |-- empName: string (nullable = true)
 |-- empGender: string (nullable = true)
 |-- empSalary: double (nullable = true)
 |-- empCountry: string (nullable = true)

15

## `load df to CSV file`

In [4]:
CSV_SINK_PATH = "gs://landing-01-31-2024/sink/csv_file"

df.coalesce(1).write.csv(CSV_SINK_PATH, header=True)

#

## `load df to text file`

In [ ]:
from pyspark.sql.functions import concat_ws

df1 = df.select([col(c).cast("string") for c in df.columns])

df2 = df1.withColumn("concat", concat_ws("\t", *df.columns))

df3 = df2.select(col("concat"))

TEXT_SINK_PATH = "gs://random-bucket-morning-730/txt1_file"

df3.coalesce(1).write.text(TEXT_SINK_PATH)

#

## `load df to json file`

In [5]:
JSON_SINK_PATH = "gs://landing-01-31-2024/sink/json_file"

df.coalesce(1).write.json(JSON_SINK_PATH)

#

## `load df to parquet file`

In [9]:
PAR_SINK_PATH = "gs://landing-01-31-2024/sink/parquet_file"

df.repartition(1).write.parquet(PAR_SINK_PATH)

#

## `load df to mysql table`

In [ ]:
mysql_properties = {
    "driver" : "com.mysql.cj.jdbc.Drviver",
    "url" : "jdbc:mysql://<HOST-IP>:3306/<DB-NAME>",
    "user" : "mysql",
    "password" : "mypass",
    "table" : "pysparkTable"
}

(df.write
    .format("jdbc")
    .options(mysql_properties)
    .mode("overwrite")
    .save())

#

## `load df to bq table`

In [12]:


TABLE_ID = "winter-cocoa-412902.master_ds.pysparkTable"

(df.write
    .format("bigquery")
    .option("table", TABLE_ID)
    .option("temporaryGcsBucket", "landing-01-31-2024/sink/temp")
    .mode("overwrite")
    .save())